
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="~/Product/UrunEkle" method="post">



    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Ürün Adı</label>
        <input class="form-control" type="text" value="" />
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Ürün Fiyatı</label>
        <input class="form-control" type="text" value="" />
    </div>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Ürün Adı</label>
        <input class="form-control" type="text" value="" />
    </div>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Ürün Adı</label>
        <input class="form-control" type="text" value="" />
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Ürün Adı</label>
        <input class="form-control" type="text" value="" />
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Ürün Adı</label>
        <input class="form-control" type="text" value="" />
    </div>
</form>

